%div

  %table
    %tr
      %td
        Mon
      %td
        Tue
      %td
        Wed
      %td
        Thu
      %td
        Fri
      %td
        Sat
      %td
        Sun
        
%button
  Request to book
