%div.calendar
  %table#calendar
    %caption
      %span.prev
        &lsaquo;
      %h1#month-year
      %span.next
        &rsaquo;
    %thead
      %tr
        %th
          Sun
        %th
          Mon
        %th
          Tue
        %th
          Wed
        %th
          Thu
        %th
          Fri
        %th
          Sat
%br
%br
%button
  Request to book
