%div
  %input{ :type => "hidden", :id => "availableFrom", :value => @space.date_from  }
  %input{ :type => "hidden", :id => "availableTo", :value => @space.date_to }
  %input{ :type => "text", :id => "selectDate"}
%br
%br
%button
  Request to book
