%div.month
  %ul
    %li.prev
      <
    %li.next
      >
    %li{ :style => "text-align:center"}
      August
      %br
      %span{ :style => "font-size:18px" }
        2016
        
%ul.weekdays
  %li
    Mo
  %li
    Tu
  %li
    We
  %li
    Th
  %li
    Fr
  %li
    Sa
  %li
    Su

%ul#calendar
  %li
    %span.active
      10
  %li
    11
  %li
    12
  %li
    13

%button
  Request to book
