%div
  %input{ :type => "hidden", :id => "availableFrom", :value => @space.date_from  }
  %input{ :type => "hidden", :id => "availableTo", :value => @space.date_to }

%div{:style => "overflow:hidden;"}
  .form-group
    .row
      .col-md-8#calendar
%form{ :action => "/request/new/#{@space.id}", :method => 'post'}
  %input{ :type => "hidden", :name => "selectedFrom", :id => "selectedFrom"}
  %input{ :type => "hidden", :name => "selectedTo", :id => "selectedTo" }
  %input.btn.btn-success{ :type => 'submit', :value => 'Request to book'}
