%div
  %input{ :type => "hidden", :id => "availableFrom", :value => "11/08/2016" }
  %input{ :type => "hidden", :id => "availableTo", :value => "23/09/2016" }
  %input{ :type => "text", :id => "selectDate"}
%br
%br
%button
  Request to book
