%div
  %input{ :type => "hidden", :id => "availableFrom", :value => @space.date_from  }
  %input{ :type => "hidden", :id => "availableTo", :value => @space.date_to }

%div.container
  %div.row
    %div
      %div.form-group
        %div.input-group.date
          %span.input-group-addon#calendar
  %button
    Request to book
