- if current_user
  .container
    %form{ :action => "/spaces/new", :method => "get" }
      %input.btn.btn-primary{ :type => "submit", :value => "List a Space" }
      %br
      %br
        - if @space
          - @space.each do |space|
            .well
              .media
                %a.pull-left{:href => "#"}
                  %img.media-object{:src => "../../images/image1.jpg"}/
                .media-body
                  %a{ :href => "/spaces/#{space.id}" }
                    %h4.media-heading
                      = space.name
                  %p.text-right
                    By
                    = space.user.name
                  %p
                    = space.description
