%a{ :href => "spaces/1", :title => 'Relaxing space by the beach' }
  %strong
    Relaxing space by the beach
%form{ :action => "/spaces/new", :method => "get" }
  %input{ :type => "submit", :value => "List a Space" }
%ul
  - if @space
    - @space.each do |space|
      %li= space.name
      %li= space.description
      %li= space.price
